sstd_library.pro.user
sstd_boost_helper.exe
build-sstd_library*
sstd_library_test/sstd_library_test.pro.user
.qmake.stash
sstd_library.vcxproj
sstd_library.vcxproj.filters
sstd_library.sln
.vs/
sstd_library.vcxproj.user
boost_*.obj

sstd_library_test/test_sstd_library.vcxproj
sstd_library_test/test_sstd_library.vcxproj.filters
sstd_library_test/test_sstd_library.vcxproj.user
build-lua-*
*.9-pre1
